# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
*.egg-info/
.dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.spec

# Local environment
.env

# VS Code settings
.vscode/
